* {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
}

html, body {
    width: 100%;
    height: 100%;
}

.carousel, .item, .active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.item img {
    width: 100%;
    height: 100%;
}
@media only screen and (max-width: 500px){
        .carousel, .item, .active{
            height: auto;
        }
        .carousel-inner{
            height: auto;
        }
        .item img{
            width: 100%;
            height: auto;
        }
        .res-text h1{
            font-size: 10px;
        }
        .res-text h5{
            font-size: 5px;
        }
    }
@media only screen and (max-width: 1000px){
        .carousel, .item, .active{
            height: auto;
        }
        .carousel-inner{
            height: auto;
        }
        .item img{
            width: 100%;
            height: auto;
        }
        .res-text h1{
            font-size: 20px;
        }
        .res-text h5{
            font-size: 10px;
        }
    }
@media only screen and (max-width: 1200px){
        .carousel, .item, .active{
            height: auto;
        }
        .carousel-inner{
            height: auto;
        }
        .item img{
            width: 100%;
            height: auto;
        }
        .res-text h1{
            font-size: 20px;
        }
        .res-text h5{
            font-size: 10px;
        }
    }
@media only screen and (max-width: 700px){
        .carousel, .item, .active{
            height: auto;
        }
        .carousel-inner{
            height: auto;
        }
        .item img{
            width: 100%;
            height: auto;
        }
        .res-text h1{
            font-size: 20px;
        }
        .res-text h5{
            font-size: 10px;
        }
    }
@media only screen and (max-width: 400px){
        .carousel, .item, .active{
            height: auto;
        }
        .carousel-inner{
            height: auto;
        }
        .item img{
            width: 100%;
            height: auto;
        }
        .res-text h1{
            font-size: 10px;
        }
        .res-text h5{
            font-size: 5px;
        }
    }
/*presentacion*/
@media only screen and (max-width: 400px){
         #headerwrap .tit-finalidad{
            margin-top: -30px;
            font-size: 30px;
        }
        #headerwrap .parrafo-finalida{
            width: 100%;
            margin-top: -60px;
            margin-left: -12px;
            font-size: 12px;
        }
        #headerwrap #h1{
            margin-top: -20px;
        }
        #headerwrap #h3{
            margin-top: -20px;
        }
        #headerwrap .parrafo-finalidad2{
            margin-top: -50px;
            margin-left: -12px;
            width: 100%;
            font-size: 12px;
        }
        #headerwrap #fin-img h3{
            font-size: 20px;
        }
        #headerwrap #fin-img{
            height: 110px;
        }
        #headerwrap #fin-img img{
            visibility: hidden;
            height: 0px;
            width: 0px;
        }
        #headerwrap #fin-img h3{
            visibility: hidden;
        }
    }
@media only screen and (max-width: 500px){
        #headerwrap{
            height: auto;
        }
        #headerwrap h1{
            font-size: 30px;
            color: white;
        }
        #headerwrap h3{
            font-size: 20px;
        }
        #headerwrap #only{
            width: 80%;
            height: 40%;
            display: block;
            margin: auto;
        }
        #headerwrap #fin-img{
            margin-top: -70px;
        }
    }
@media only screen and (max-width: 700px){
        #headerwrap{
            height: auto;
        }
        #headerwrap h1{
            font-size: 30px;
            color: white;
        }
        #headerwrap h3{
            font-size: 20px;
        }
        #headerwrap img{
            visibility: hidden;
        }
    }
@media only screen and (max-width: 1000px){
        #headerwrap{
            height: auto;
        }
        #headerwrap h1{
            font-size: 30px;
            color: white;
        }
        #headerwrap h3{
            margin: 50px;
            font-size: 20px;
        }
        #headerwrap img{
            visibility: hidden;
        }
    }
@media only screen and (max-width: 1200px){
        #headerwrap{
            height: auto;
        }
        #headerwrap h1{
            font-size: 30px;
            color: white;
        }
        #headerwrap h3{
            font-size: 20px;
        }
        #headerwrap #only{
            width: 80%;
            height: 40%;
            display: block;
            margin: auto;
        }
        #headerwrap #fin-img{
            margin-top: -70px;
        }
    }
@media only screen and (max-width: 1200px){
        #features h1{
            font-size: 20px;
            color: #00c0ef;
        }
        #features p{
            font-size: 15px;
        }
        #features .carousel-inner{
            margin-right: revert;
        }
    }
#features h1{
    color: #00c0ef;
}
#headerwrap #only{
    border-radius: 24px 24px 24px 24px;
}
#headerwrap #fin-img img{
    border: #1b7e5a double;
}
#headerwrap #fin-img img:hover{
    border: #4cae4c 2px double;
}

@media only screen and (max-width: 400px){
        #features{
            height: 1050px;
        }
        #features .objectives{
            margin-top: -70px;
        }
        #features #carousel-objetivo{
            margin-top: -80px;
            height: 30%;
        }
        #features .ob-gen{
            margin-top: -40px;
        }
        #features a{
            font-size: 30px;
            margin-bottom: 0px;
            margin-top: -40px;
        }
        #features h1{
            font-size: 20px;
        }
        #features p{
            font-size: 15px;
            font-family: "Roboto", Helvetica, Arial, sans-serif;
        }
    }